[Unit]
Description=Krones Contador de Garrafas
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/krones
ExecStart=/home/pi/krones/venv/bin/python /home/pi/krones/main.py
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=krones-contador
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target 